<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Profile</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif, sans-serif;
            font-size: 3ch;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200vh;
            background-color: #faa405;
        }
        .profile-card {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 20px;
            text-align: center;
        }
        .profile-card img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        .profile-card h2 {
            margin: 30px 0;
        }
        .profile-card p {
            margin: 20px 0;
        }

    </style>
</head>
<body>
    <div class="profile-card">
        <img src="/images/profile_ziggy.jpg" alt="Profile Picture">
        <div class="profile-info">
            <h2>Ziggy Yafi Hisyam</h2>
            <p>2211521018</p>
            <p>Sistem Informasi</p>
            <p>ziggyafih@gmail.com</p>
    </div>
</body>
</html>